[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.7"
django-crispy-forms = "*"
"xhtml2pdf" = "*"
weasyprint = "*"
djangorestframework = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
